<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.engflip.www.playgroundand">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.engflip.www.playgroundand.ui.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.store_state.StoreStateActivity" />
        <activity android:name=".ui.attrs_with_databinding.AttrsWithDataBindingActivity" />
        <activity
            android:name=".ui.dynamic_lines.DynamicLinesActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.quiz_mode.QuizPlayerActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.quiz_mode.QuizResultActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>